*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
   background-image: url(backgroundimage.svg);
   width: 60vw;
   height: 100vh;
   padding:100px;
   position: absolute;
   left: 0;
   font-family: 'Josefin Sans', sans-serif;
  
   
    
}
.box1{
    color: pink;
    font-weight: 300;
    font-size: 60px;
}
.box2{
    font-weight: 700;
    font-size: 60px;
}
.box3{
    color: rgb(233, 181, 190);
}
.box4{
    height: 50px;
    width: 400px;
    border-radius: 30px;
    border-color: pink;
    border-style: solid;
    border-width:2px ;
    background-color: white;
    font-size: 17px;
}
.box5{
    height: 50px;
    width: 70px;
    border-radius: 20px;
    position:relative;
    right: 60px;
    border: pink ;
    background-color: rgb(248, 217, 222);
    top: 3px;
    
}
.box6{
    width: 40vw;
    height: 100vh;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
}
.box7{
    position: relative;
    left: 17px;

}
